.main-footer {
	.container {
		.main-content {
			padding: 6rem 0;
			border-top: 0.1rem solid #dedfe1;
			.logo {
				font-weight: 800;
				font-size: 2.3rem;
				color: $text2;
			}
			.menu {
				@include font-bold;
				font-size: 1.4rem;
			}
		}
		.copy-right {
			font-weight: 700;
			font-size: 1.2rem;
			color: $text2;
			padding-bottom: 3.6rem;
		}
	}
}
