body {
  --fill-icon-1: #9672ff;
  --fill-icon-2: #4ddffd;
  --fill-icon-3: #f2b8ec;
  font-size: 1.6rem;
  font-family: "Manrope", sans-serif;
}
@media screen and (max-width: 768px) {
  body {
    padding: 0 1.5rem;
  }
}

::selection {
  background-color: #f85a47;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
  }
}
header {
  position: relative;
}
header::before {
  content: "";
  width: 40%;
  background-color: #bdccff;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  header::before {
    display: none;
  }
}
header .header-top {
  padding-top: 3.6rem;
  padding-bottom: 11.7rem;
}
@media screen and (max-width: 768px) {
  header .header-top {
    padding-bottom: 0;
  }
}
header .header-top .logo {
  font-weight: 800;
  font-size: 2.3rem;
  line-height: 3.1rem;
}
header .header-top nav .menu {
  gap: 4.6rem;
}
header .header-top nav .menu .menu-item {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.7rem;
  position: relative;
}
header .header-top nav .menu .menu-item::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  height: 0.2rem;
  background-color: #000;
  width: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
header .header-top nav .menu .menu-item:hover::before {
  width: 100%;
}
header .header-top .menu-bar {
  width: 3.5rem;
  height: 2rem;
  position: relative;
}
header .header-top .menu-bar span {
  height: 0.3rem;
  width: 100%;
  background-color: #31353b;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
header .header-top .menu-bar::before, header .header-top .menu-bar::after {
  content: "";
  position: absolute;
  width: 50%;
  background-color: #31353b;
  height: 0.3rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
header .header-top .menu-bar::before {
  top: 0;
  left: 0;
  transform-origin: top right;
}
header .header-top .menu-bar::after {
  bottom: -0.1rem;
  transform-origin: bottom right;
  right: 0;
}
header .header-top .menu-bar.active::before, header .header-top .menu-bar.active::after {
  width: 1.5rem;
}
header .header-top .menu-bar.active::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: unset;
  left: unset;
  right: 0;
}
header .header-top .menu-bar.active::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  bottom: unset;
}
header .header-content .content-text {
  padding-top: 4rem;
}
header .header-content .content-text-title {
  color: #ff9900;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.9rem;
}
@media screen and (max-width: 768px) {
  header .header-content .content-text-title {
    font-size: 1.8rem;
  }
}
header .header-content .content-text-heading {
  font-weight: 800;
  font-size: 5.4rem;
  line-height: 7.3rem;
  padding: 2.4rem 8.3rem 2.4rem 0;
}
@media screen and (max-width: 768px) {
  header .header-content .content-text-heading {
    padding: 2.4rem 0;
    font-size: 3rem;
    line-height: 3.6rem;
  }
}
header .header-content .content-text-desc {
  font-size: 1.7rem;
  line-height: 2.3rem;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: #31353b;
  padding-right: 6.8rem;
}
@media screen and (max-width: 768px) {
  header .header-content .content-text-desc {
    padding-right: 0;
  }
}
header .header-content .content-text form {
  position: relative;
}
header .header-content .content-text form .form-zipcode {
  margin-top: 4.8rem;
  padding: 3rem;
  background-color: #fff;
  border: 0.1rem solid #dadada;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
}
header .header-content .content-text form .form-zipcode input {
  flex: 1;
  padding-right: 10rem;
  font-weight: 600;
}
@media screen and (max-width: 991px) {
  header .header-content .content-text form .form-zipcode input {
    padding-right: 0;
  }
}
header .header-content .content-text form button {
  position: absolute;
  height: 100%;
  background-color: #f85a47;
  padding: 3rem;
  right: 0;
  top: 0;
  transform: translate(calc(100% - 0.1rem), 0);
  -webkit-transform: translate(calc(100% - 0.1rem), 0);
  color: #fff;
  font-size: 1.7rem;
  line-height: 2.3rem;
  letter-spacing: 0.01em;
}
@media screen and (max-width: 991px) {
  header .header-content .content-text form button {
    position: relative;
    width: 100%;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }
}
@media screen and (max-width: 768px) {
  header .header-content .content-text form button {
    padding: 2rem 3rem;
  }
}
header .header-content .content-image img {
  width: 100%;
  max-width: unset;
  height: 57.3rem;
}
header .header-content .partners {
  transform: translate(0, -100%);
  -webkit-transform: translate(0, -100%);
}
header .header-content .partners-heading {
  font-weight: 400;
  color: #31353b;
  font-size: 1.7rem;
  line-height: 2.3rem;
  margin-bottom: 2.7rem;
  letter-spacing: 0.01em;
}
@media screen and (max-width: 768px) {
  header .header-content .partners-heading {
    text-align: center;
  }
}
@media screen and (max-width: 1200px) {
  header .header-content .partners {
    transform: translate(0, 3rem);
    -webkit-transform: translate(0, 3rem);
  }
}

.main-footer .container .main-content {
  padding: 6rem 0;
  border-top: 0.1rem solid #dedfe1;
}
.main-footer .container .main-content .logo {
  font-weight: 800;
  font-size: 2.3rem;
  color: #31353b;
}
.main-footer .container .main-content .menu {
  font-weight: 600;
  font-size: 1.4rem;
}
.main-footer .container .copy-right {
  font-weight: 700;
  font-size: 1.2rem;
  color: #31353b;
  padding-bottom: 3.6rem;
}

.working {
  padding: 22.3rem 0 10rem;
}
@media screen and (max-width: 768px) {
  .working {
    padding: 10rem 0;
  }
}
.working .text-heading {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.5rem;
  color: #000;
  text-transform: capitalize;
}
@media screen and (max-width: 768px) {
  .working .text-heading {
    line-height: 4.5rem;
    font-size: 3.4rem;
  }
}
.working .row {
  margin-top: 7rem;
}
.working .row .icon {
  padding: 3rem;
  width: 9rem;
  height: 9rem;
  border-radius: 2rem;
  margin: 0 auto;
  color: #000;
}
.working .row .heading {
  padding: 5rem 0 1.5rem;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 3rem;
  color: #333333;
}
.working .row .desc {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.working .row .work-box:nth-child(1) .icon {
  background-color: #9672ff;
  box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07), 0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481), 0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185), 0px 20px 13px rgba(150, 114, 255, 0.035), 0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815), 0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
}
.working .row .work-box:nth-child(3) .icon {
  background-color: #4ddffd;
  box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07), 0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481), 0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185), 0px 20px 13px rgba(77, 223, 253, 0.035), 0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815), 0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
}
.working .row .work-box:nth-child(5) .icon {
  background-color: #f2b8ec;
  box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07), 0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481), 0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185), 0px 20px 13px rgba(242, 184, 236, 0.035), 0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815), 0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
}
.working .row .dot-line {
  top: 4rem;
}
.working .row .work-box:nth-child(2) .dot-line::before {
  content: "";
  background-color: #9672ff;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
.working .row .work-box:nth-child(2) .dot-line::after {
  content: "";
  background-color: #4ddffd;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
.working .row .work-box:nth-child(4) .dot-line::before {
  content: "";
  background-color: #4ddffd;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
.working .row .work-box:nth-child(4) .dot-line::after {
  content: "";
  background-color: #9672ff;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}

.best-deal {
  padding: 12.3rem 0;
}
@media screen and (max-width: 768px) {
  .best-deal {
    padding: 0 0 10rem;
  }
}
.best-deal .container .content-left {
  max-width: 47rem;
  width: 100%;
}
.best-deal .container .content-left-heading {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.5rem;
  color: #000;
  text-transform: capitalize;
  padding-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .best-deal .container .content-left-heading {
    line-height: 4.5rem;
    font-size: 3.4rem;
  }
}
@media screen and (max-width: 768px) {
  .best-deal .container .content-right {
    flex: 1;
  }
}
.best-deal .container .content-right button {
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 0.5rem;
  background-color: #f85a47;
  color: #fff;
  padding: 2rem 3rem;
  width: 100%;
}
.best-deal .container .list {
  padding: 5rem 0;
}
.best-deal .container .list-item {
  font-size: 1.7rem;
  line-height: 2.6rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  cursor: pointer;
}
.best-deal .container .list-item.active {
  font-weight: 600;
  color: #ff9900;
}
.best-deal .container .list-item.active::before {
  width: 100%;
}
.best-deal .container .list-item::before {
  content: "";
  position: absolute;
  bottom: -1.2rem;
  left: 0;
  width: 0;
  height: 0.1rem;
  background-color: #ff9900;
}
@media screen and (max-width: 768px) {
  .best-deal .container img {
    width: 100%;
  }
}

.featured {
  padding: 12rem 0 19.6rem;
}
.featured .container h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.5rem;
  color: #000;
  text-transform: capitalize;
  padding-bottom: 9.5rem;
}
@media screen and (max-width: 768px) {
  .featured .container h1 {
    line-height: 4.5rem;
    font-size: 3.4rem;
  }
}
.featured .container .main-content {
  background-color: #f1ffff;
  padding: 3.9rem;
}
.featured .container .main-content .flex-row {
  gap: 5rem 7.7rem;
}
.featured .container .main-content .flex-row .col-left .main-image {
  position: relative;
}
@media screen and (max-width: 991px) {
  .featured .container .main-content .flex-row .col-left .main-image img {
    width: 100%;
  }
}
.featured .container .main-content .flex-row .col-left .main-image .ab-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04)) drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704)) drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963)) drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02)) drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037)) drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963)) drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
}
@media screen and (max-width: 1200px) {
  .featured .container .main-content .flex-row .col-left .main-image .ab-image {
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    left: unset;
    bottom: unset;
    right: 0;
    top: 50%;
  }
}
@media screen and (max-width: 991px) {
  .featured .container .main-content .flex-row .col-left .main-image .ab-image {
    position: unset;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    padding-top: 2rem;
  }
}
.featured .container .main-content .flex-row .col-right {
  flex: 1;
  padding-right: 11rem;
}
@media screen and (max-width: 1200px) {
  .featured .container .main-content .flex-row .col-right {
    width: 100%;
    padding-right: 0;
    flex: auto;
  }
}
.featured .container .main-content .flex-row .col-right .heading {
  padding-top: 4.3rem;
  font-weight: 700;
  font-size: 3.1rem;
  line-height: 4.2rem;
}
.featured .container .main-content .flex-row .col-right .desc {
  padding-top: 2.8rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #718087;
}
.featured .container .main-content .flex-row .col-right .list-item {
  width: 30%;
}
@media screen and (max-width: 768px) {
  .featured .container .main-content .flex-row .col-right .list-item {
    width: 45%;
  }
}
.featured .container .main-content .flex-row .col-right .list-item .heading {
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.3rem;
  padding-bottom: 1.2rem;
}
.featured .container .main-content .flex-row .col-right .list-item .desc {
  padding-top: 0;
}
.featured .container .main-content .flex-row .col-right .btn-booking {
  text-transform: uppercase;
  margin-top: 5.4rem;
  background: #f85a47;
  color: #fff;
  padding: 1.6rem 3.8rem;
  border-radius: 0.5rem;
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
}

.feedback .container .text-heading {
  width: 50%;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.5rem;
  color: #000;
  text-transform: capitalize;
}
@media screen and (max-width: 768px) {
  .feedback .container .text-heading {
    line-height: 4.5rem;
    font-size: 3.4rem;
  }
}
@media screen and (max-width: 1200px) {
  .feedback .container .text-heading {
    width: 100%;
  }
}
.feedback .container .list {
  padding-top: 5rem;
}
.feedback .container .list .list-item {
  padding: 5rem 4rem;
  background-color: #fff;
  border: 0.1rem solid #ebebeb;
  border-radius: 1rem;
  flex: 1;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.feedback .container .list .list-item:hover {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08);
}
.feedback .container .list .list-item .rating-star {
  padding-bottom: 3rem;
}
.feedback .container .list .list-item .comment {
  flex: 1;
  padding-bottom: 3rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #333333;
}
.feedback .container .list .list-item .user {
  margin-top: auto;
  gap: 0 2rem;
}
.feedback .container .list .list-item .user-info-name {
  font-weight: 700;
  font-size: 1.6rem;
  color: #333333;
  line-height: 2.2rem;
}
.feedback .container .list .list-item .user-info-location {
  font-weight: 400;
  color: #666666;
  font-size: 1.4rem;
  line-height: 1.9rem;
}
.feedback .container .brand {
  padding-top: 8.5rem;
}
.feedback .container .brand img {
  object-fit: unset;
}
.feedback .container .brand .desc {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #333333;
}
.feedback .container .brand .desc a {
  color: #4ddffd;
}
.feedback .container .brand .desc a:hover {
  text-decoration: underline;
}

.contact {
  padding: 30rem 0 16rem;
  background: #fbfcfc;
}
.contact .container h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.5rem;
  color: #000;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .contact .container h1 {
    line-height: 4.5rem;
    font-size: 3.4rem;
  }
}
.contact .container p {
  font-weight: 600;
  color: #31353b;
  line-height: 144.2%;
  letter-spacing: 0.02em;
}
.contact .container .form-contact {
  padding: 2.6rem 3rem;
  box-shadow: 0px 163px 80px rgba(0, 0, 0, 0.04), 0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704), 0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963), 0px 32.6px 13px rgba(0, 0, 0, 0.02), 0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037), 0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963);
  max-width: 68.6rem;
  width: 100%;
  margin: 3.4rem auto 0;
  background-color: #fff;
}
.contact .container .form-contact .input-field input {
  font-weight: 600;
}
.contact .container .form-contact .input-field label {
  top: 50%;
  left: 0rem;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  user-select: none;
  color: #31353b;
  opacity: 0.2;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.contact .container .form-contact input:not(:placeholder-shown) + label,
.contact .container .form-contact input:focus + label {
  top: -1.5rem;
}
@media screen and (max-width: 768px) {
  .contact .container .form-contact input:not(:placeholder-shown) + label,
.contact .container .form-contact input:focus + label {
    top: -50%;
    transform: translate(0, -100%);
    -webkit-transform: translate(0, -100%);
  }
}
.contact .container .form-contact .btn-submit {
  padding: 2.3rem 4rem;
  background-color: #f85a47;
  color: #fff;
  font-size: 1.8rem;
  box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
}
@media screen and (max-width: 768px) {
  .contact .container .form-contact .btn-submit {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
